@import 'shared/base/utils/styleVariables';

.pagination-item {
  background-color: $light-color;
  &.active {
    background-color: $accent-color;
  }
}

.line-pagination {
  .pagination-item {
    height: 0.25rem;
  }
}

.pagination {
  svg {
    cursor: pointer;
    color: $light-color;
  }
  svg:hover {
    color: $accent-color;
  }
}
