@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.navbar {
  flex-direction: column;
}

.collapse:not(.show) {
  display: none !important;
}

@include media-breakpoint-down(lg) {
  .navbar-small {
    display: flex;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-small {
    display: none !important;
  }
}
