@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'shared/base/utils/styleVariables';

.navbar {
  flex-direction: column;
  &.collapse:not(.show) {
    display: none !important;
  }
  .navbar-nav {
    .nav-link {
      color: $light-color;
      &:hover {
        color: $accent-color-hover;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar-small {
    display: flex;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-small {
    display: none !important;
  }
}
