@import 'shared/base/utils/styleVariables';

.badge-container {
  .badge {
    color: white;
    background-color: $accent-color;
    position: absolute;
    top: -0.75rem;
    bottom: auto;
    letter-spacing: 0.02em;
    vertical-align: middle;
    border-radius: $border-radius-50 !important;
    &.danger {
      background-color: $invalid-color;
    }
  }
}
