@import 'shared/base/utils/styleVariables';

$form-check-input-size: 1.2rem;

.custom-control {
  .custom-control-input {
    &:checked ~ .custom-control-label::before {
      background-color: $accent-color !important;
      border-color: $accent-color !important;
    }
  }
  &.custom-checkbox {
    .custom-control-label {
      &:before {
        background-color: $light-color-secondary !important;
        border-radius: 0.25em !important;
        width: $form-check-input-size;
        height: $form-check-input-size;
        border: 1px solid $light-color-secondary !important;
      }
      &:after {
        width: $form-check-input-size;
        height: $form-check-input-size;
      }
    }
  }
  &.custom-switch {
    .custom-control-label {
      &:after {
        background-color: $light-color;
      }
    }
  }
}
