@import 'shared/base/utils/styleVariables';

$form-check-input-size: 1.2rem;
$form-check-input-margin: -1.7rem !important;

.form-check-input {
  cursor: pointer;
  margin-top: 0rem !important;
  width: $form-check-input-size;
  height: $form-check-input-size;
  margin-left: $form-check-input-margin;
  vertical-align: top;
  background-color: $light-color-secondary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;
  border: 1px solid $light-color-secondary;
  appearance: none;
  &:checked {
    background-color: $accent-color !important;
    border-color: $accent-color !important;
    background-image: url('/icons/check.svg');
  }
}
