@import 'shared/base/utils/styleVariables';

.users-list-container {
  th {
    border-top: none !important;
  }
  .user-container {
    vertical-align: middle;
    &:hover {
      box-shadow: $shadow;
    }
    td {
      vertical-align: middle !important;
      border-top: none !important;
      &.menu-button-container {
        text-align: center;
      }
    }
    .badge-container {
      align-items: unset !important;
      .badge {
        position: relative;
        top: 0;
      }
    }
  }
}
