$light-color: #c0c2d1;
$light-color-secondary: #f4f6fa;
$accent-color: #765bbb;
$accent-color-hover: #442e90;
$invalid-color: #f2646a;
$accent-secondary-color: #8ac6d1;

$shadow: 0 0rem 2rem 5px rgba(0, 0, 0, 0.05) !important;

$border-radius-50: 3.125rem;
$solid-form-radius: 0.65rem !important;
