@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

@include media-breakpoint-up(lg) {
  .contact-form {
    width: 50% !important;
  }
  .registration-form {
    width: 25% !important;
  }
}

@include media-breakpoint-down(lg) {
  .registration-form {
    width: 75% !important;
  }
}
