@import 'shared/base/utils/styleVariables';

.tooltip-light {
  background-color: white !important;
  border: 1px solid $accent-color !important;
  border-radius: 0.25em !important;
  color: $accent-color !important;
}
