@import 'shared/base/utils/styleVariables';

.pricing-item-container {
  background-color: white;
  max-width: 30% !important;
  &.primary {
    transform: scale(1.05);
    box-shadow: 0 0rem 2rem 5px rgba(118, 91, 187, 0.3) !important;
  }
  &:not(.primary) {
    border: 1px solid $light-color;
  }
  .pricing-header {
    color: $accent-color;
    letter-spacing: 0.25rem;
    line-height: 0.5rem;
  }
  .pricing-icon-container {
    padding: 1.575rem;
    height: 6rem;
    width: 6rem;
    background-color: rgba(192, 194, 209, 0.2);
    .pricing-icon {
      color: $accent-color;
      font-size: xx-large;
    }
  }
  .pricing-description-container {
    padding: 0;
    .pricing-description-item-container {
      list-style-type: none;
    }
    .pricing-desciption-icon {
      color: $accent-color;
    }
  }
  .pricing-choose-button {
    font-weight: 300;
    border-radius: $border-radius-50;
    border: 1px solid;
    color: $accent-color;
    position: absolute;
    bottom: 0;
    &:hover {
      background-color: $accent-color;
      color: white;
    }
    &.primary {
      background-color: $accent-color;
      color: white;
      &:hover {
        background-color: $accent-color-hover;
      }
    }
  }
}
