@import 'shared/base/utils/styleVariables';

.property-type-container {
  cursor: pointer;
  color: $accent-secondary-color;
  background-color: white;
  border-radius: 1rem;
  flex: 1;
  &.active,
  &:hover {
    background-color: $accent-secondary-color;
    color: white;
  }
}
