@import 'shared/base/utils/styleVariables';

.property-type-container {
  cursor: pointer;
  color: $accent-color;
}

.property-type-container:hover {
  background-color: $accent-color;
  color: white;
}

.property-type-container {
  &.active {
    background-color: $accent-color;
    color: white;
  }
}
