@import 'shared/base/utils/styleVariables';

.text-accent {
  color: $accent-color !important;
}

a.text-accent {
  &:hover,
  &:focus {
    color: $accent-color-hover !important;
  }
}

.bg-accent {
  background-color: $accent-color;
  &:hover {
    background-color: $accent-color-hover !important;
  }
}

.bg-light {
  background-color: $light-color-secondary !important;
  &:hover {
    background-color: $light-color !important;
  }
}

.text-danger {
  color: $invalid-color !important;
}
