$font-family-sans-serif: 'Aeroport';
$border-radius: 0.625rem !important;
$input-border-radius: 0rem !important;

@import '~bootstrap/scss/bootstrap';

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-weight: 300;
}

.rounded-link {
  border-radius: 2rem !important;
  border: 1px solid;
  padding: 0.2rem 1rem !important;
}

.rounded-50 {
  border-radius: 3.125rem !important;
}

.rounded-top-50 {
  border-top-left-radius: 3.125rem !important;
  border-top-right-radius: 3.125rem !important;
}

.icon-container {
  padding: 1.875rem;
}

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}
