@import 'shared/base/utils/styleVariables';

.right-container-page {
  overflow-y: hidden;
  .left-container {
    height: 100vh !important;
    border-top-right-radius: 3.125rem !important;
    border-bottom-right-radius: 3.125rem !important;
    .navbar-brand {
      font-family: 'Pacifico', cursive;
      font-size: 1.75rem;
    }
  }
  .right-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    .navbar {
      margin-top: 3rem !important;
      padding-left: 0;
      padding-right: 0;
      .nav-link {
        color: $light-color;
        &:hover {
          color: $accent-color-hover;
        }
      }
    }
  }
}
